* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.resp-img {
  width: 100%;
  height: auto;
}

.interactive-icon {
  cursor: pointer;
}

.thumb {
  padding: 5px;
  box-sizing: border-box;
}

.thumb-border {
  border: 1px solid gray;
}

.post-img-preview-box {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
