#pages-wrapper.MuiBox-root.css-0 {
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 10%;
  background-color: white;
  text-align: center;
}

#pages {
  display: inline-block;
  margin: 2.5% 0;
}
